[2019-06-06 12:50] callmekatootie opened #1 "Clear token when extension is deactivated"
When the extension gets deactivated, clear the token stored.

[2019-06-06 12:51] callmekatootie opened #2 "Remove empty space from the UI"
When viewing open challenges, scroll to the bottom - there is a large empty space there.

![image](https://user-images.githubusercontent.com/2317133/59034052-d494e100-8887-11e9-9798-99238c112c94.png)

[2019-06-06 12:51] callmekatootie opened #3 "Keep only username and password configurable"
Right now, we can configure the Client Id, v2 token endpoint and v3 token endpoints too. Remove these and read them from constants instead. Only username and password need to be configurable

[2019-06-06 12:53] callmekatootie opened #4 "Change title of page for open contests"
Title of page that displays the open challenges needs to be changed to `Topcoder: Open Challenges`

[2019-06-06 12:58] callmekatootie opened #5 "Better error message"
In case of any error (like failure to connect to Topcoder), we need to display a better error message. Right now, we get `Error: getaddrinfo ENOTFOUND topcoder.auth0.com topcoder.auth0.com:443`

[2019-07-03 11:27] callmekatootie opened #6 "Detect valid challenge id"
If the `.topcoderrc` file contains a challenge id that does not exist, the error message is vague. We need to check for existence of the challenge before we upload

- check for challenge existence using the id
- check if the challenge submission phase is still open (need to check what happens if the submission phase has ended)

[2019-07-03 11:44] callmekatootie commented on #2
Cannot do this - we are using the Preview Markdown module, that displays this for all markdown files

[2019-07-03 11:44] callmekatootie commented on #3
Fixed in 03bbb4fb14b3e17bce8adcbc88c54c84f1778785

[2019-07-03 11:44] #3 closed

[2019-07-03 11:44] callmekatootie commented on #4
Cannot do this - we are using the Preview Markdown module, that displays this for all markdown files

[2019-07-03 11:44] #4 closed

[2019-07-07 12:07] #2 closed

[2019-07-22 16:28] callmekatootie opened #7 "Change connection attribute when using dev instance"
It will be `TC-User-Database` for dev instance

[2019-07-30 13:06] callmekatootie commented on #6
Fixed in 5d8d1cfe54bfc7775048cda3d5cbd6df7bac6959

[2019-07-30 13:06] #6 closed

[2019-07-30 14:03] callmekatootie commented on #5
Another example:

![image](https://user-images.githubusercontent.com/2317133/62136003-e97a7780-b300-11e9-8174-95af5a6279ae.png)

[2019-07-30 14:24] callmekatootie commented on #7
Fixed.

[2019-07-30 14:24] #7 closed

[2019-08-01 06:12] callmekatootie commented on #1
Relevant discussion: https://apps.topcoder.com/forums/?module=Thread&threadID=940363

In light of this, closing this ticket as not feasible.

[2019-08-01 06:12] #1 closed

[2019-08-01 06:19] callmekatootie opened #8 "Replace submission api calls with the wrapper"
Use https://www.npmjs.com/package/@topcoder-platform/topcoder-submission-api-wrapper package instead of directly making api calls to submission api

[2019-08-01 07:23] callmekatootie opened #9 "Challenge details page improvement"
At the moment we cannot see all the text in the challenge details page:

![image](https://user-images.githubusercontent.com/2317133/62273465-45591380-b45b-11e9-9d1c-de2199fe16c8.png)

There's some text that cannot be seen clearly (example - the one under Project Background)

We need to respect the theme used by the user and not fix the color of the text.

[2019-08-01 08:16] callmekatootie commented on #9
Assigned to Amar365

[2019-08-02 10:07] callmekatootie commented on #9
Fixed

[2019-08-02 10:07] #9 closed

[2019-08-05 09:53] callmekatootie commented on #8
submission api wrapper now has support for user jwt. Awaiting new release to use it

[2019-08-05 12:18] callmekatootie commented on #8
Released: https://www.npmjs.com/package/@topcoder-platform/topcoder-submission-api-wrapper

[2019-08-06 19:39] cwdcwd opened #10 "Add sidebar icon"
Add a sidebar Icon w/ the TC logo that brings up a tab that
- describes all the capabilities of the extension
- describes how to get started (ie: setting login credentials)
- has shortcuts to the commands in the command palette
- any other goodness

[2019-08-06 19:40] cwdcwd commented on #10
![image](https://user-images.githubusercontent.com/1504607/62571888-7c1a9980-b860-11e9-999c-4dc050f2a4d4.png)
this side bar

[2019-08-06 19:55] cwdcwd opened #11 "Clone repo"
Goal: Provide a mechanism to clone the repo specified in challenge payload (this will be on v5 challenge API). This could be an automatic option or on demand from the challenge details page. This will set up the code for workspace for the user

[2019-08-06 19:57] cwdcwd opened #12 "auto fill .topcoderrc"
Goal: Set the challenge Id into the `.topcoderrc`  file automatically for the user when they register and check out/clone a project. The idea is to keep the user out of the `.topcoderrc`  file

[2019-08-06 19:58] cwdcwd opened #13 "leaderboard details"
bring in the leaderboard scores and details for a challenge on the challenge details page

[2019-08-06 21:16] cwdcwd opened #14 "submission details"
Goal: To show details and status of a submission some where (maybe in the screen of #10) details of the user's submission (reviews, artifacts, etc) for the challenge specified

[2019-08-06 21:38] cwdcwd opened #15 "Notifications"
Goal: Deliver TC Platform notification events down to the IDE. The new notification system that will be coming online soon will deliver notifications to the end user from the platform. Stage 1 of this system will be through APIs and Polling. Stage 2 will support websockets and the Extension should utilize a websocket client to retrieve these messages

[2019-08-06 21:42] cwdcwd opened #16 "Create challenges"
Goal: create challenges via the IDE

[2019-08-06 21:43] cwdcwd opened #17 "Reviews"
Goal: Perform code reviews from within the IDE. This might require MSFT LiveShare and/or MSFT CloudEnvironments

[2019-08-07 11:34] callmekatootie commented on #8
Fixed in fd66a4b4398aeef2a2b644789b4950dcd7bee30b

[2019-08-07 11:34] #8 closed

[2019-08-07 12:18] callmekatootie opened #18 "Update vscode engine to 1.36.0"

[2019-08-07 12:19] callmekatootie opened #19 "Use vscode-test instead of vscode"
[Reference](https://code.visualstudio.com/api/working-with-extensions/testing-extension#migrating-from-vscode)

[2019-08-07 13:11] callmekatootie commented on #10
@cwdcwd Do we have an icon that we can use (or could a design provider one)? The specification for the icon can be [found here](https://code.visualstudio.com/api/references/contribution-points#Icon-specifications)

[2019-08-07 14:45] cwdcwd commented on #10
I'll get that whipped up.

[2019-08-09 13:41] cwdcwd commented on #10
[Logo Archive.zip](https://github.com/topcoder-platform/ide-ext-vscode/files/3486601/Logo.Archive.zip)
@callmekatootie ☝️

[2019-08-09 15:11] callmekatootie commented on #11
v5 challenge api has the `gitRepoURLs` field that will contain the git repo url.

But this is right now an array and not a single repo (understandably). Will take the easier route and assume we will be dealing with only 1 repo at a time

[2019-08-10 13:38] callmekatootie commented on #11
Faced an issue during challenge creation with repo url:

[code]

Checking with Thomas about it...

[2019-08-12 20:34] cwdcwd commented on #11
👍
for the repos array, let's assume one at first but would be cool maybe to offer the option which to clone and add to the workspace

[2019-08-13 08:02] callmekatootie commented on #19
Fixed

[2019-08-13 08:02] #19 closed

[2019-08-13 08:02] callmekatootie commented on #18
Fixed

[2019-08-13 08:02] #18 closed

[2019-08-13 08:02] callmekatootie commented on #5
Fixed

[2019-08-13 08:02] #5 closed

[2019-08-20 04:40] callmekatootie opened #20 "Telemetry Feature"
Capture user interaction with our extension to improve the extension and create our own user metrics.

Explore this [reference](https://aws.amazon.com/pinpoint/features/analytics/usage-analytics/).

We need to setup our own endpoint to capture these metrics (either anonymously or through jwt tokens) and also update our Privacy Policy to mention this

[2019-08-20 07:28] callmekatootie commented on #14
@cwdcwd In order to show submission details, the user should first upload their submission.

However, at the moment, since we are switching over to v5 challenge api, submission api does not support it yet - so we cannot upload the solution to a challenge that exists in v5.

Could you let me know how you would like me to proceed here

[2019-08-20 14:35] cwdcwd commented on #14
target v4 for now

[2019-08-20 14:39] callmekatootie commented on #12
@cwdcwd This won't be part of the current milestone, since we are focusing only on v4 challenge api related features for now.

Or - we could perhaps prompt the user to clone any existing starter packs for the project (based on the tags assigned to the project perhaps?)

[2019-08-20 14:39] callmekatootie commented on #11
@cwdcwd This won't be part of the current milestone, since we are focusing only on v4 challenge api related features for now.

[2019-08-20 14:40] callmekatootie commented on #11
Or - we could perhaps prompt the user to clone any existing starter packs for the project (based on the tags assigned to the project perhaps?)

[2019-08-20 14:40] callmekatootie commented on #16
@cwdcwd The contest will fail - should I keep this as part of the current milestone or park it since it's for the v5 challenge api?

[2019-08-20 15:08] cwdcwd commented on #16
what's the reason for failure?

[2019-08-20 15:09] cwdcwd commented on #12
let's go on registration

[2019-08-20 15:36] callmekatootie commented on #10
@cwdcwd

[Reference](https://code.visualstudio.com/api/references/contribution-points#contributes.viewsContainers)

In the sidebar, we essentially can only provide a Tree based view - and the user has to click on the tree nodes to get further details in the main area.

So I am thinking the tree structure would be something as follows:

[code]

**Question 1: Is the above tree structure fine?**

Wha

[2019-08-20 15:39] callmekatootie commented on #14
I have updated #10 with the details - essentially, we will be displaying the list of contests that the user has submitted for - so **Question 1 - Which API can tell me the contests for which the user has an active submission?**

**Question 2 - Which API can give me details about the review scores for the member's submission and any other info that one usually sees in OR perhaps?**

[2019-08-20 16:17] callmekatootie commented on #16
My guesses:
- I had the spec too open worded
- Members had to use vanilla javascript to create the form, so they essentially had to write everything that we take for granted (data model and validation for example) from scratch
- Members had to reverse engineer multiple form fields that ate into their dev time

Should have probably done couple of components only and not the entire form in a single

[2019-08-20 19:27] cwdcwd commented on #14
1. I think "active" implies that the challenge is still open and submittable, right? That could be determined from the phase of the challenge `/challenges/{id}/phases`. In the context of the IDE I think we should just start with the challenges that are in the rc file.
2. `/v5/submissions?challengId={challengeId}& memberId={memberId}` should give you all the submissions for a member on a specific c

[2019-08-20 19:30] cwdcwd commented on #10
1. looks great!
2. I think it's ok. we'll evolve this as we go
3. It's fine for v3/v4. v5 we'll do this differently
4. I think active subs is any challenge I'm on that is still open, right?

[2019-08-20 19:56] cwdcwd commented on #16
ok. moving this to the 1.0 release for when we convert to angular

[2019-08-21 05:31] callmekatootie commented on #10
Point 4: No, It would be the contests that you registered for, that is still open (but not in submission phase) AND for which I have uploaded submissions - so that the user can see the status of their submission (their scores, reviews etc) - at least, that's what I have in mind. What you are talking about is already covered under Point 3.

[2019-08-21 05:41] callmekatootie commented on #14
1. No. This ticket says "submission" details. So I would expect an API that tells me the contests where:

- I have registered AND
- I have submitted AND
- Submission phase has closed and we are in the Review+ phases

2. Correct me if I am wrong here but I recollect that we don't yet display the scores from OR through the submission API - and we only have the scores from Antivirus, automated scorer

[2019-08-21 07:24] callmekatootie opened #21 "Display time until end of submission phase"
A timer like [this](https://marketplace.visualstudio.com/items?itemName=mlazzarini.pair-programming-timer) that displays the hours until the end of the submission phase

[2019-08-21 07:26] callmekatootie commented on #12
Contest launched: http://www.topcoder.com/challenge-details/30099778/?type=develop

[2019-08-21 07:26] callmekatootie commented on #10
For points 1, 2 and 3, Contest launched: http://www.topcoder.com/challenge-details/30099778/?type=develop

[2019-08-21 07:28] callmekatootie commented on #10
I guess we can take up discussion for Point 4 under #14 instead of in this ticket

[2019-08-21 07:28] callmekatootie opened #22 "Time in EDT"
Since OR displays the time in EDT, it would be nice to have the editor display the current time in EDT in the Side Bar / Status Bar

[2019-08-21 07:38] callmekatootie commented on #21
- It needs the `.topcoderrc` file to be present in the current workspace at the ROOT folder.
- We could fetch the details of the contest using the id in the `.topcoderrc` file and then determine the time until the end of submission phase (if it is still active).

It can silently do its job - if there is no `.topcoderrc` file, or the file is not configured correctly in which case its not possible t

[2019-08-21 17:58] cwdcwd commented on #11
I like that idea

[2019-08-21 18:00] cwdcwd commented on #14
by submission details I'm thinking the review records on the submission record.
for OR reviews, I'm going to get that turned on ...

[2019-08-21 18:02] cwdcwd commented on #22
V5 submission API should be in UTC time w/ offsets.
V5 challenge API will be the same.
if pulling details from v3/v4 API then assume EDT, otherwise UTC

[2019-08-21 18:03] cwdcwd commented on #21
should we expand to a `/.topcoder` folder for the details and pull down the whole challenge JSON?

[2019-08-22 05:44] callmekatootie commented on #14
Ah ok. Alright - I'll work with the submission API here and set this up for easy development.

[2019-08-22 06:32] callmekatootie commented on #21
Yes - that's a good idea

[2019-08-25 08:15] callmekatootie opened #23 "Confirmation on module used"
@cwdcwd Is it ok to use this module for login: https://github.com/cwdcwd/topcoder-api-utils

[2019-08-25 08:18] callmekatootie opened #24 "Need icons for the nodes in the Sidebar"
Need icons for the nodes seen in each of the three sections:

![image](https://user-images.githubusercontent.com/2317133/63647427-deb7d480-c73e-11e9-8019-e84fb8718653.png)

Need icons for:
- Individual challenges
- List of challenges

Need to check if any existing icons meet our expectations

[2019-08-25 08:20] callmekatootie opened #25 "Need a host for images / gifs"
VSCode will only allow images from https endpoints.

Need a suitable host for our images under the Getting Started and Extension Features nodes under the HOME section of the sidebar

Currently, we are using imgur as our host

[2019-08-25 08:20] callmekatootie commented on #25
@cwdcwd Need info here

[2019-08-25 08:30] callmekatootie opened #26 "Topcoder does not indicate I have registered, even though the action through the extension worked"
I registered for this contest through the extension: http://www.topcoder.com/challenges/30100192?tab=registrants

I even got an email from Topcoder confirming my registration.

However, that challenge still shows me the REGISTER button and I don't appear in the list of registrants for that contest

[2019-08-25 09:41] callmekatootie commented on #12
This has now been carried out.

[2019-08-25 09:41] #12 closed

[2019-08-25 09:46] callmekatootie commented on #10
This has now been carried out.

[2019-08-25 09:46] #10 closed

[2019-08-29 04:00] callmekatootie commented on #25
I think S3 would work.

The images are GIFs being used in the Getting Started and Features sections

[2019-08-29 04:01] callmekatootie commented on #23
Ok. Let me know once we have more info here on the steps to take to use the OAuth approach

[2019-08-29 18:07] callmekatootie opened #27 "Discussion: Once a user logs in and changes their credentials, any further action uses the old token"
- User sets some credentials and logs in
- User then changes their credentials
- Extension is still using old token instead of the new creds

Q:
- Can the extension determine that settings have changed?
- At the beginning I wanted to explore other secure ways of getting user creds.... circling back to that

[2019-09-03 16:11] callmekatootie commented on #11
The user is now presented with option to clone a starter pack when they register for a contest

[2019-09-03 16:11] callmekatootie commented on #14
The user can see their reviews and artifacts, if any in the Topcoder Activity Bar

[2019-09-04 02:51] cwdcwd commented on #27
I've been talking w/ @mtwomey about this extensively actually. I'd like to eventually get to an OAuth flow and/or a flow w/ an opaque token from a TC developer portal. This requires a fair amount of infrastructure work though.

For your scenario above though, the user would get denied and we should surface that error to check credentials

[2019-09-04 02:52] cwdcwd commented on #26
that could just be a failure of the v3/v4 challenge API elastic search feeder.
v5 shouldn't have this issue

[2019-09-04 02:53] cwdcwd commented on #25
@callmekatootie point me to the images and I'll see if I can get a bucket setup.
we could/should probably put that into a CI step and deploy from the repo to AWS at build time

[2019-09-10 04:32] callmekatootie opened #29 "Need to check code"
Today I came across this:

![image](https://user-images.githubusercontent.com/2317133/64584344-eb306400-d3b1-11e9-8a86-42e85e1757fa.png)

Now, the logic was that we fetch active contests, and **among these contest** we needed to determine if the user has submissions uploaded.

If ACTIVE CONTESTS section failed to load, how did ACTIVE SUBMISSIONS load - if one were to follow the above logic?

I nee

[2019-09-10 04:33] callmekatootie commented on #29
Note: A refresh / reload did load the ACTIVE CONTESTS after the above was seen

[2019-09-10 04:34] callmekatootie commented on #29
The error in console:

[code]

[2019-09-10 04:39] callmekatootie opened #30 "Indicate dev or prod instance"
Indicate in the Side Bar / Status Bar if we are in the prod or dev instance...

Perhaps also provide this as a configuration - to switch between prod and dev instances...

[2019-09-11 17:00] callmekatootie opened #31 "Clone Repo"
Original ticket: https://github.com/topcoder-platform/ide-ext-vscode/issues/11

Original ticket was modified to work with v4 api.

This ticket is to capture the original requirement intended for v5 api

[2019-09-11 17:00] #11 closed

[2019-09-11 17:01] callmekatootie opened #32 "View submission details"
Original ticket: #14

Original ticket was modified to work with v4 api.

This ticket is to capture the original requirement intended for v5 api

[2019-09-11 17:01] #14 closed

[2019-09-11 17:48] #26 closed

[2019-09-11 17:49] callmekatootie commented on #20
Can't we use Google Analytics here?

[2019-09-16 18:13] cwdcwd commented on #29
that looks like an error thrown from the v3/v4 challenges API

[2019-09-17 16:20] callmekatootie commented on #20
Need to support anonymous collection of data too

[2019-09-24 02:51] callmekatootie opened #33 "Certain challenges wont load"
Issue reported by reviewer Mayur.Joshi

Challenges without technologies field such as https://www.topcoder-dev.com/challenges/30054692 or 321785 in production do not load their challenge details.

I get error "TypeError: Cannot read property 'some' of undefined"

Error is in src/helpers/Html.js
[code]

[2019-09-24 02:52] callmekatootie opened #34 "1 Test fails"
Issue reported by reviewer Mayur.Joshi

1 test fails

  1) ChallengeService Unit tests
[code]

[2019-09-26 09:58] callmekatootie commented on #20
Provided feature for telemetry. But it isn't anonymous yet so keeping ticket

[2019-09-26 09:59] callmekatootie opened #37 ".topcoder folder"
Create a .topcoder folder to store details about the contest that the current workspace is associated with, when the user clicks on Initialize Workspace after registration.

That way, we don't have to fetch details of the contest each time and can refer to this folder

[2019-09-26 09:59] callmekatootie commented on #21
`.topcoder` folder take up in https://github.com/topcoder-platform/ide-ext-vscode/issues/37

Closing this ticket since original feature has been implemented

[2019-09-26 09:59] #21 closed

[2019-09-26 10:00] callmekatootie commented on #22
This has now been implemented

[2019-09-26 10:00] #22 closed

[2019-09-26 10:02] callmekatootie commented on #30
This has now been implemented

[2019-09-26 10:02] #30 closed

[2019-09-26 10:02] callmekatootie commented on #34
Cannot reproduce. Closing.

[2019-09-26 10:02] #34 closed

[2019-09-26 17:17] callmekatootie commented on #20
Came across this module today: https://www.npmjs.com/package/vscode-extension-telemetry

[2019-09-26 17:56] callmekatootie opened #39 "Warning at the time of publis"

[2019-09-28 09:53] callmekatootie opened #40 "Unable to view details of Marathon Match contests"

[2019-09-28 12:01] callmekatootie commented on #33
This has now been resolved. Closing

[2019-09-28 12:01] #33 closed

[2019-09-28 12:03] callmekatootie commented on #40
Same as #33

[2019-09-28 12:03] #40 closed

[2019-09-30 10:18] callmekatootie opened #48 "content security policy"
Receive this warning when running the extension:

`Topcoder.topcoder-workflow created a webview without a content security policy: https://aka.ms/vscode-webview-missing-csp`

[2019-10-02 08:29] callmekatootie opened #49 "App Insights based Telemetry"
Task:

- Integrate https://npmjs.com/package/vscode-extension-telemetry with our extension
- Keep existing endpoint based telemetry intact too. We will be using this soon
- You might have to update the existing invocations of the telemetry service to pass the data needed.

Note that we will be sharing the telemetry info anonymously for now (for the vscode extension telemetry module)

[2019-10-08 20:04] cwdcwd commented on #20
closing as I think we've got this in, at least rudimentarily, now

[2019-10-08 20:04] #20 closed

[2019-10-08 20:07] cwdcwd commented on #31
putting templates into [this org](https://github.com/topcoder-platform-templates) @callmekatootie

[2019-10-11 13:48] cwdcwd commented on #27
FWIW the old token _will_ expire after 5 minutes and a new one will be required to keep working so they'll have to update their credentials no matter what

[2019-10-11 13:51] cwdcwd commented on #15
@nkumar-topcoder @sachin-maheshwari Do we have a timetable for Websocket notifications on the platform?

[2019-10-18 21:04] cwdcwd opened #52 "add extension recommendations"
[see this](https://code.visualstudio.com/docs/editor/extension-gallery#_workspace-recommended-extensions)
recommended extensions would be:
- [VS Live Share Extensions Pack](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare-pack)
- [Live Share Spaces](https://marketplace.visualstudio.com/items?itemName=vsls-contrib.spaces)
- [Remote Development Pack](https://marketplace

[2019-10-21 05:33] callmekatootie commented on #52
Update: Changes are in. Will be part of next release

[2019-10-21 11:40] callmekatootie commented on #24
- icons should be 16x16 with 2px padding, so ideally they actual icons would be 14x14
- icons should come in two types, dark and light. dark icons are used in light backgrounds and vice versa
- we need icons for nodes (of a tree) where the nodes are one of the following:
[code]
- Icons have to be svg format
- For the last three types of nodes, I know I am being a bit vague there and that we could

[2019-11-06 01:46] veshu opened #54 "Reload workspace after initialize workspace"
After I click "initialize workspace" it creates the .topcoderrc file but it won't show until we refresh the explorer.

[2019-11-06 01:47] veshu opened #55 "changelog not updated"
Though there is new version the change log of the extension is not updated.

[2019-11-06 02:54] callmekatootie commented on #55
Thank you for reporting this. I forgot that we have a dedicated CHANGELOG.md file.

I might look at removing it altogether because I have been maintaining an active change log in the releases section: https://github.com/topcoder-platform/ide-ext-vscode/releases - @veshu let me know if this helps

Would not make sense to maintain it in two places...

Need to first check if a change log file is mand

[2019-11-06 02:56] callmekatootie commented on #54
Can you kindly let me know the OS and the IDE version.

Also, can you kindly confirm that you are using the latest version of the extension (v0.2.0)

[2019-11-06 03:55] veshu commented on #54
OS: macOS Catalina Version 10.15
VSC: Version: 1.39.2
extension Version: 0.2.0
Yes I install from vsix downloaded from release page.

[2019-11-06 04:01] veshu commented on #55
It is not mandatory, but keeping it is best practices as extension gets updated automatically and when I want to see the changes I could see what new version brings without having to go to the repo.

Mostly every extension has this maintained.

[2019-11-06 04:04] veshu opened #56 "Home menu links not working"
Following menu links are not working
`Extension Features`
`Getting Started`

![image](https://user-images.githubusercontent.com/2202045/68267454-9b50df00-007a-11ea-90d7-07d0c508a6fb.png)

OS: macOS catalina 10.15
VSC: Version: 1.39.2
extension: 0.2.0

[2019-11-18 07:24] callmekatootie commented on #24
This is now in

[2019-11-18 07:24] #24 closed

[2019-11-18 07:33] callmekatootie opened #57 "Display Review Types"
When a user views their reviews for their submission, we need to show the review type.

We can get the review type by calling submission api's GET `/reviewTypes` api (pass the user token during call) and passing the review type id to it...

[2019-11-18 08:25] callmekatootie commented on #56
Valid issue. Able to reproduce.

[2019-11-18 08:26] callmekatootie commented on #52
Released in https://github.com/topcoder-platform/ide-ext-vscode/releases/tag/v0.2.0

[2019-11-18 08:26] #52 closed

[2019-11-19 03:31] callmekatootie commented on #54
@veshu Can you kindly test this again... A dev with a mac was not able to reproduce the issue so would like to get more info
- if possible, record a video this time
- also, could you kindly check if there's anything seen in the console

[2019-11-19 11:02] callmekatootie commented on #56
Update: The fix is in. Will be part of the next release

[2019-11-28 13:00] callmekatootie commented on #57
Update: The fix is in. Will be part of the next release

[2019-11-28 13:06] callmekatootie commented on #49
Update: This has been part of the extension since https://github.com/topcoder-platform/ide-ext-vscode/releases/tag/v0.1.2 release.

Closing ticket.

[2019-11-28 13:06] #49 closed

[2019-11-28 13:06] callmekatootie commented on #48
Assigned to @sexta13

[2020-01-07 15:08] ajefts opened #58 "Add link to challenge page"
When viewing a challenge in the IDE, provide a link that pops the user out to the actual challenge details page on the site.

[2020-01-15 06:20] dushyantb opened #59 "Automated tests for `code & f2f` challenges"
- have provision for executing automated tests for the submission and provide the feedback to the submitter for `code` and `f2f` type of challenges

[2020-01-15 06:25] callmekatootie commented on #59
I am not sure if the extension will have a role to play in this case. I am not sure I understand the context for this.

- When submission is uploaded, Topcoder can run the tests, if configured for a contest
- If these tests have to be run locally, then the user can already do so with the existing approach (for example, for a nodejs app, they can run the test with the relevant npm script)

I don't

[2020-01-15 06:41] dushyantb commented on #59
This is a placeholder issue for the automated tests... will device a plan around this...
general idea is to execute the testcases on the platform after the submission and provide the feedback, like hackerrank

these testcases will be executed using `.rc` file (different than the one which is getting created by the extension)

[2020-01-15 10:31] callmekatootie opened #60 "Provide link to settings directly through Topcoder View"
Found this in the Live Share extension, that allows a user to configure settings for the extension - link for which is present in the extension's View itself.

Let's have a `Configure Settings` item under the Home section in the Topcoder View that does the same for our extension.

Looks like we open the Settings page and filter by the extension to view settings only for the extension

[2020-01-15 10:34] callmekatootie commented on #54
Hey @veshu did you get a chance to check this out

[2020-01-22 13:12] callmekatootie opened #61 "Integrate with Visual Studio online"
Integrate with Visual Studio online to allow users to quickly spin up environments to host and deploy the code, without the need to set it up in their local environment

[2020-01-22 13:17] callmekatootie commented on #61
Currently, we can spin an environment through the following link. Found an example [here](https://github.com/nikmd23/ballpark-tracker/blob/master/README.md)

[code]

Example string for github repo would be `topcoder-platform/ide-ext-vscode` which default to github, but also supports non github but valid git urls

[2020-01-26 18:27] callmekatootie opened #62 "Report issue link from within the extension"
Example: (extension here is the Gauge extension):

![image](https://user-images.githubusercontent.com/2317133/73139777-87c07d80-4097-11ea-879d-39c68d9c2949.png)

We could have this through both command palette and as a link in the topcoder view

[2020-01-26 18:28] callmekatootie commented on #62
Looks like appending `body= encoded data`, we can populate the issue description too. In the above case, they seem to populate the version of the extension and other details...

[2020-01-27 07:03] callmekatootie commented on #61
- Reviewer downloads the submission and opens it in the VSCode
- They then need to host this in Visual Studio online. For this,
  - they use our extension, which uploads the submission to a git repository (github / gitlab)
  - From there, we then need to start the visual studio online environment by using the git repository.

Questions @cwdcwd :

1. Who owns the git(hub|lab) repository? Would this

[2020-01-28 05:23] callmekatootie opened #63 "Update connection parameter for prod"
Update connection parameter `CLIENT_V2CONNECTION` to `TC-User-Database` from `LDAP` for prod environment

[2020-01-29 02:29] cwdcwd commented on #61
@callmekatootie I'm thinking that it might work something like this:
- reviewer sees list of submissions available to them in the IDE
- clicks the submission to "checkout" the submission
- "checking out" the submission extracts the sub into a private repo inside a topcoder org
- VSO is called to create an environment
- the VSO env is now made available to the reviewer for their review
- reviewer s

[2020-01-29 05:19] samuraiV opened #66 "Unable to access Topcoder"
Issue Type: <b>Bug</b>

1. configure your credentials under:
     TCVSCode IDE › Credentials: Password
     TCVSCode IDE › Credentials: Username
2. run command
     Topcoder: Login

Expected result is to connect to Topcoder.

Instead I am getting:
Error: Failed to authenticate user. Please check your settings and try again.

Extension version: 0.2.0
VS Code version: Code 1.39.2 (6ab598523be7a800d7

[2020-01-29 05:21] callmekatootie commented on #66
@samuraiV Are you trying to login to dev instance or prod instance

[2020-01-29 05:24] samuraiV commented on #66
not sure, how do we check it?
I just installed the extension from VsCode Extensions viewlet.

[2020-01-29 05:26] callmekatootie commented on #66
At the bottom right, you can see the environment - it will say prod or dev:

![image](https://user-images.githubusercontent.com/2317133/73330148-f105e380-4285-11ea-9eec-df41c82b5f14.png)

What does yours read?

[2020-01-29 05:33] samuraiV commented on #66
Actually I am not getting either.
Here is how my screen looks like -
![vscode](https://user-images.githubusercontent.com/4892475/73330463-dbdd8480-4286-11ea-8199-a02bcdfe2aa4.png)

[2020-01-29 05:38] callmekatootie commented on #66
You appear to have hidden the status bar. Could you go to View in the menu, then click on Appearance and then click on Show Status Bar to view the status bar.

And then you can check if you are in dev or prod environment

[2020-01-29 05:39] callmekatootie commented on #66
[This](https://code.visualstudio.com/assets/docs/getstarted/userinterface/hero.png) is how it should look like

[2020-01-29 05:39] samuraiV commented on #66
Ohh I got it.
It says - TC Env: Prod

[2020-01-29 05:46] callmekatootie commented on #66
I see the VSCode version now - this issue will be resolved in 0.3.0+ versions.

It's not yet published to marketplace but you can get the latest version [here](https://github.com/topcoder-platform/ide-ext-vscode/releases) (See assets)

[2020-01-29 05:46] callmekatootie commented on #66
I will let you know once the latest extension is available in the marketplace

[2020-01-29 05:57] samuraiV commented on #66
I installed the extension manually using the vsix from v0.3.1.
And its working
Thanks for your help

[2020-01-30 17:10] callmekatootie commented on #66
You can now pull the latest version from the [marketplace](https://marketplace.visualstudio.com/items?itemName=Topcoder.topcoder-workflow)

[2020-01-30 17:10] #66 closed

[2020-01-30 17:10] callmekatootie commented on #63
Fixed in latest version

[2020-01-30 17:10] #63 closed

[2020-01-30 17:11] callmekatootie commented on #57
Fixed in [0.3.0](https://github.com/topcoder-platform/ide-ext-vscode/releases/tag/v0.3.0)

[2020-01-30 17:11] #57 closed

[2020-01-30 17:11] callmekatootie commented on #56
Fixed in [0.3.0](https://github.com/topcoder-platform/ide-ext-vscode/releases/tag/v0.3.0)

[2020-01-30 17:11] #56 closed

[2020-01-30 17:12] callmekatootie commented on #55
The Changelog is now kept in sync. Kindly pull the latest release to get the changes.

[2020-01-30 17:12] #55 closed

[2020-02-06 08:21] callmekatootie commented on #15
Current status - we have an initial set of notifications that should work on the dev instance. Is this live on prod too @cwdcwd @sachin-maheshwari ?

So - assuming I will be able to get the notifications working on dev, here's what we would need to get this into the extension:

As I understand, at the moment, the [notification only works for](https://github.com/topcoder-platform/tc-notifications/b

[2020-02-06 14:17] cwdcwd commented on #15
@callmekatootie right now the 3 topics being wired in are
- `challenge.notification.events`
- `notifications.autopilot.events`
- `submission.notification.create`
we can add more as we see fit. `submission.notification.create` should also have review events on it as everything the submission API codebase publishes is on that topic (including reviews)
we can switch the the aggregate topic if that ma

[2020-02-25 13:22] alphagocc opened #72 "Competitive Programming Support"
Hope to Provide an area which contains someting abot Competitive Programming(SRM)
I can submit my solution more easily instead of opening browser and click mouse....
Arena is good,but an ext in vscode is much better

[2020-02-25 16:46] cwdcwd commented on #72
That's definitely on the roadmap. We're building new APIs to support this as we speak @alphagocc !

[2020-02-26 05:46] callmekatootie commented on #37
Things to consider - if any phase for the contest is extended, the data in the `.topcoder` folder would be outdated

[2020-03-17 10:56] callmekatootie opened #74 "Pending Tasks - Branch device-auth-flow"
Branch: `device-auth-flow`. Branch not ready to be merged with `develop`

Pending changes:

- [ ] Update the production values for login, namely the `AUTH0_CLIENT_ID`.

- [ ] Convert the token received from auth0 to v3 token

- [ ] Update the icons used for the new nodes - Login, Report a Problem, Configure Settings

- [ ] Improve the display of the Login page. Use a better layout. Use a better fo

[2020-04-24 17:21] callmekatootie opened #77 "Update device code auth flow url to contain the code already"
Currently, only QR code contains it. Otherwise the user has to enter the code manually.

[2020-04-28 09:52] callmekatootie opened #78 "Secure sessions non happy path checklist"
- [ ] For when BioID enrollment api request fails
- [ ] For when BioID verification api request fails
- [ ] For when BioID verification fails (not the API failing, but when the verification from BioID is not a success - indicating that the user captured is NOT the one that enrolled)

[2020-04-29 16:03] cwdcwd commented on #78
I think we kill the session with an error  for those unchecked ones except the API failure

[2020-05-11 16:25] callmekatootie opened #79 "Replace tslint with eslint"
tslint is now deprecated.

We need to use eslint - https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/README.md

[2020-05-12 04:03] callmekatootie commented on #79
More info - https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/README.md

[2020-05-18 10:40] callmekatootie opened #80 "Use withProgress API to show long running notifications"
[Example](https://github.com/Microsoft/vscode-extension-samples/tree/master/progress-sample)

[2020-05-20 07:53] callmekatootie opened #82 "Code Improvements"
- [ ] import statements seem to import everything. They should only import what they need

Example:

Current:

[code]

Expected:

[code]

[2020-07-11 16:41] prisar opened #83 "Searchable functionality in Active Challenges Tab"

[2020-12-23 17:15] cwdcwd opened #87 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2020-12-23 17:16] callmekatootie opened #88 "[$400] Project id-ext-vscode | Contest Creation | Part 1"

[2020-12-23 17:16] cwdcwd commented on #88
Contest https://www.topcoder.com/challenges/30160133 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-23 17:18] callmekatootie commented on #88
Assigning to @cagdas001

[2020-12-23 17:22] cwdcwd commented on #88
Contest https://www.topcoder.com/challenges/30160133 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-24 10:01] callmekatootie commented on #88
Main Spec: https://docs.google.com/document/d/1-qBUKOWGAIDx67Jq7uNayP9xWifiU8FFVFlIV3y1jDY/edit?usp=sharing

What is in scope as part of this ticket:

- [ ] Detect role of logged in user and show "Draft a Challenge" node in the HOME section for admin and copilot users
- [ ] Provide a [Quick Pick](https://github.com/microsoft/vscode-extension-samples/tree/master/quickinput-sample#demo) with 4 steps

[2020-12-24 15:55] callmekatootie opened #89 "[$300] Project id-ext-vscode | Contest Creation | Part 2"
Follow up of https://github.com/topcoder-platform/ide-ext-vscode/issues/88

Main spec has been updated. Look for the section between the `END OF ITERATION 1` and `END OF ITERATION 2`.

In Scope:

- [ ] Continue the Quick Pick Steps to ask:
Step 5: the challenge prizes
Step 6: the copilot fee
Step 7: the tags
- [ ] To calculate the timeline template id to use and the associated phases
- [ ] To call

[2020-12-24 15:56] cwdcwd commented on #89
Contest https://www.topcoder.com/challenges/30160259 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-24 15:56] cwdcwd commented on #89
Contest https://www.topcoder.com/challenges/30160259 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-27 10:10] #88 closed

[2020-12-27 10:10] cwdcwd commented on #88
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160133<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-27 10:11] #89 closed

[2020-12-27 10:11] cwdcwd commented on #89
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160259<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-27 16:00] callmekatootie opened #91 "[$325] Project ide-ext-vscode | Contest Creation | Part 3"
Follow up of #89

Main spec has been updated. The rest of the spec covers the remaining of the challenge creation bits.

In Scope:
- [x] User writes the spec in a markdown file
- [x] Consider all the data up to now including the spec and call api to draft the contest
- [x] Call api to activate the contest
- [x] Call api to assign the copilot to the contest

[2020-12-27 16:01] cwdcwd commented on #91
Contest https://www.topcoder.com/challenges/30160419 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-27 16:01] cwdcwd commented on #91
Contest https://www.topcoder.com/challenges/30160419 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-29 02:44] callmekatootie commented on #91
[draft-challenge-data.txt](https://github.com/topcoder-platform/ide-ext-vscode/files/5749414/draft-challenge-data.txt)

[2020-12-31 10:06] cwdcwd commented on #91
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-31 14:48] #91 closed

[2020-12-31 14:49] cwdcwd commented on #91
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160419<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2021-01-28 10:09] senmonster opened #94 "Failed to load open challenges."
**Extension Version:** 1.0.6
**VSCode Version:** 1.41.1
**Operating System:** Linux 4.15.0-126-generic
After logging in successfully, I came across this problem when I click Active Challenges:
Failed to load open challenges.

[2021-01-28 10:10] callmekatootie commented on #94
@senmonster Can you try reloading the window and see if that helps?

[2021-02-26 17:49] holysyid opened #95 "Any of Challenges Doesn't Show"
**Extension Version:** 1.0.6
**VSCode Version:** 1.53.2
**Operating System:** Windows_NT 10.0.19041

hi my topcoder extension doesn't work really well. i already logged in and logged out many times, and it shows the same
"we cannot display the list of challenges at this time"
can you help me with that?

[2021-02-26 17:51] callmekatootie commented on #95
Do you see any logs in the debug console (Ctrl / Cmd + back tick)

[2021-05-21 11:20] nerding-it opened #99 "Details page is not rendering markdown"
Challenge details are not rendering a markdown description of the field  _detailedRequirements_ basically, it's displaying markdown text as-is. As per my assumptions, WebView won't render markdown when I parsed that markdown to HTML using some typescript extension it rendered properly

[2021-06-22 04:54] laneschmidt commented on #94
same problem here. tried reloading window and the application too.

Extension Version: 1.0.6
VSCode Version: 1.57.1
OS: macOS Big Sur 11.2.3

https://user-images.githubusercontent.com/38232529/122865461-ae620280-d2e3-11eb-861a-5fcaa5ee854b.mov

[2021-08-25 11:13] akumartiwari opened #102 "Failed to load open challenges."
**Extension Version:** 1.0.6
**VSCode Version:** 1.59.1
**Operating System:** Linux 5.4.0-56-generic
![Screenshot from 2021-08-25 16-43-31](https://user-images.githubusercontent.com/33821613/130780859-b8f0fe1c-106a-4bd6-bf6e-fbbbe48dde72.png)

[2021-12-13 07:22] jeff2297 opened #106 "Failed to load challenges"
**Extension Version:** 1.0.6
**VSCode Version:** 1.63.0
**Operating System:** Windows_NT 10.0.2200
![Failed-to-load-challenges-issue (2)](https://user-images.githubusercontent.com/90929525/145769206-678f1468-ba3e-4ed6-95bb-77c3bb2ac047.png)
0

[2022-02-07 06:21] AjayGogineni opened #112 "Not able login and not able see the challenges."

[2022-04-25 05:35] sathishv50 opened #117 "can't able to login via VSCODE"
**Extension Version:** 1.0.6
**VSCode Version:** 1.66.2
**Operating System:** Windows_NT 10.0.19044

[2022-09-13 06:36] Rup-Royofficial opened #120 "Failed to load Active-Challenges"
Active challenges doesn't actually show any of my registered active challenges
Rather a "failed to load active challenges" pops up

Tried restarting the application and installing/uninstalling the extension
Yet the error prevails

[2022-11-15 13:14] pmourey opened #121 "unable to load challenges"
![bug1](https://user-images.githubusercontent.com/25690768/201928639-2427fa05-86a1-4562-a003-39101b160672.png)
![bug2](https://user-images.githubusercontent.com/25690768/201928660-e888b269-fe29-4e47-b73a-5f8f43ac8a2c.png)
**Extension Version:** 1.0.6
**VSCode Version:** 1.73.1
**Operating System:** Darwin 17.7.0